:root {
    --naranja-principal: #FF6B35; 
    --naranja-claro: #FF8F61;
    --gris-oscuro: #333333;
    --gris-claro: #f7f7f7;
    --blanco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

header {
    background-color: var(--blanco);
    padding: 20px 40px;
    border-bottom: 1px solid var(--naranja-principal);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--gris-oscuro);
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--naranja-principal);
}

.btn-apply {
    background-color: var(--naranja-principal);
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-apply :hover {
    background-color: var(--naranja-claro);
}

/* HERO Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 60px;
    background-color: var(--naranja-principal);
    color: var(--blanco);
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn-primary{
    background-color: var(--blanco);
    color: var(--naranja-principal);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--gris-claro);
    color: var(--naranja-principal);
}

/* Formulario */

.form-section {
    background-color: var(--blanco);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.form-section h2 {
    margin-bottom: 20px;
    color: var(--gris-oscuro);
}

.form-section input, .form-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--gris-oscuro);
    border-radius: 5px;
}

.btn-submit {
    background-color: var(--naranja-principal);
    color: var(--blanco);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: var(--naranja-claro);
}

/* Seccion de Carreras */
.careers-section {
    padding: 80px;
    background-color: var(--gris-claro);
}

.section-title {
    color: var(--gris-oscuro);
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.5rem;
    color: var(--gris-oscuro);
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: var(--gris-oscuro);
    line-height: 1.5;
}

.card-icon {
    padding: 5px;
    font-size: 3rem;
    color: var(--naranja-principal);
    margin-bottom: 20px;
}

.faq-section {
    padding: 60px 20px;
    background-color: var(--blanco);
}

.faq-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--gris-oscuro);
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq {
    border: 1px solid var(--gris-oscuro);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.faq-question {
    font-size: 1.2rem;
    font-weight: bold;
}

.faq-answer {
    margin-top: 10px;
    display: none;
    font-size: 1rem;
    color: var(--gris-oscuro);
}

.faq.active .faq-answer {
    display: block;
}

/* Gallery Section */
.gallery-section {
    padding: 60px 20px;
    background-color: var(--gris-claro);
}

.gallery-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--gris-oscuro);
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.gallery-container img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery-container img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 40px 0;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer .footer-column {
    width: 24%;
  }
  
  footer h3 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  footer p, footer a {
    color: #bdbdbd;
    font-size: 0.9rem;
    line-height: 1.8;
  }
  
  footer a:hover {
    color: var(--naranja-principal);
  }
  
  footer .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  footer .social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
  }
  
  footer .social-icons a:hover {
    color: var(--naranja-principal);
  }

.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--gris-oscuro);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.show {
        display: flex; /* Mostrar el menú al agregar la clase 'show' */
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-icon {
        display: block;
    }
}

/* Responsive */

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
    .hero {
        flex-direction: column;
    }
    .form-section {
        margin-top: 20px;
        width: 100%;
    }
}


